{% extends "daskalos/layout.html" %}


{% block title %}
{% endblock %}

{% block body %}



<form method="post">
    {% csrf_token %}
    <div id="master_container">
        <div id="uut_container" class="mycontainer">
            <p class="title">UUT</p>
            <div id="uut" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_ip1">IP:</label> -->
                    <input id="uut_ip" name="uut_ip" type="text" placeholder="IP" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_ip1">Port:</label> -->
                    <input id="uut_port" name="uut_port" type="text" placeholder="Port" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="image_container" class="mycontainer">
            <p class="title">Image</p>
            <div id="image" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="diag_image">DIAG Image:</label> -->
                    <input id="diag_image" name="diag_image" type="text" placeholder="DIAG Image" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_image">IOS Image:</label> -->
                    <input id="ios_image" name="ios_image" type="text" placeholder="IOS Image" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="user_defined_container" class="mycontainer">
            <p class="title">User Defined</p>
            <div id="user_defined" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="usr_diag_test">User DIAG Test:</label> -->
                    <input id="usr_diag_test" name="usr_diag_test" type="text" placeholder="User DIAG Test" required>
                <!-- </div> -->
                <!-- <!-- <div class="row"> -->
                    <!-- <label for="usr_ios_test">User IOS Test:</label> -->
                    <input id="usr_ios_test" name="usr_ios_test" type="text" placeholder="User IOS Test" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="chamber_container" class="mycontainer">
            <p class="title">Chamber</p>
            <div id="chamber" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="chamber_ip">IP:</label> -->
                    <input id="chamber_ip" name="chamber_ip" type="text" placeholder="IP" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="chamber_port">Port:</label> -->
                    <input id="chamber_port" name="chamber_port" type="text" placeholder="Port" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="chamber_type">Type:</label> -->
                    <input id="chamber_type" name="chamber_type" type="text" placeholder="Type" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="apc_container" class="mycontainer">
            <p class="title">APC</p>
            <div id="apc" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_ip1">IP:</label> -->
                    <input id="apc_ip" name="apc_ip" type="text" placeholder="IP" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_ip1">Port 1:</label> -->
                    <input id="apc_port1" name="apc_port1" type="text" placeholder="Port 1" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_ip1">Port 2:</label> -->
                    <input id="apc_port2" name="apc_port2" type="text" placeholder="Port 2" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_ip1">Password:</label> -->
                    <input id="apc_password" name="apc_password" type="text" placeholder="Password" value="apc -c" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="ixia_container" class="mycontainer">
            <p class="title">IXIA</p>
            <div id="ixia" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_ip1">IP 1:</label> -->
                    <input id="ixia_ip1" name="ixia_ip1" type="text" placeholder="IP 1" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_ip2">IP 2:</label> -->
                    <input id="ixia_ip2" name="ixia_ip2" type="text" placeholder="IP 2" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_card_type">Card Type:</label> -->
                    <input id="ixia_card_type" name="ixia_card_type" type="text" placeholder="Card Type" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_card_1">ixCARD 1:</label> -->
                    <input id="ixia_card_1" name="ixia_card_1" type="text" placeholder="ixCard 1" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_card_2">ixCARD 2:</label> -->
                    <input id="ixia_card_2" name="ixia_card_2" type="text" placeholder="ixCard 2" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_card_3">ixCARD 3:</label> -->
                    <input id="ixia_card_3" name="ixia_card_3" type="text" placeholder="ixCard 3" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_card_4">ixCARD 4:</label> -->
                    <input id="ixia_card_4" name="ixia_card_4" type="text" placeholder="ixCard 4" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_port_1">ixPORT 1:</label> -->
                    <input id="ixia_port_1" name="ixia_port_1" type="text" placeholder="ixPort 1" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_port_2">ixPORT 2:</label> -->
                    <input id="ixia_port_2" name="ixia_port_2" type="text" placeholder="ixPort 2" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_port_3">ixPORT 3:</label> -->
                    <input id="ixia_port_3" name="ixia_port_3" type="text" placeholder="ixPort 3" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_port_4">ixPORT 4:</label> -->
                    <input id="ixia_port_4" name="ixia_port_4" type="text" placeholder="ixPort 4" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixuser">User:</label> -->
                    <input id="ixuser" name="ixuser" type="text" placeholder="User" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixversion">ixVersion:</label> -->
                    <input id="ixversion" name="ixversion" type="text" placeholder="ixVersion" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="prompts_container" class="mycontainer">
            <p class="title">Prompts</p>
            <div id="prompts" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="bios_pmpt">BIOS PMPT:</label> -->
                    <input id="bios_pmpt" name="bios_pmpt" type="text" placeholder="BIOS Prompt" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="diag_pmpt">DIAG PMPT:</label> -->
                    <input id="diag_pmpt" name="diag_pmpt" type="text" placeholder="DIAG Prompt" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="dsh_pmpt">DSH PMPT:</label> -->
                    <input id="dsh_pmpt" name="dsh_pmpt" type="text" placeholder="DSH Prompt" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_pmpt">IOS PMPT:</label> -->
                    <input id="ios_pmpt" name="ios_pmpt" type="text" placeholder="IOS Prompt" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_dp_pmpt">IOS DP PMPT:</label> -->
                    <input id="ios_dp_pmpt" name="ios_dp_pmpt" type="text" placeholder="IOS DP Prompt" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_cfg_pmpt">IOS CFG PMPT:</label> -->
                    <input id="ios_cfg_pmpt" name="ios_cfg_pmpt" type="text" placeholder="IOS CFG Prompt" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_cfgif_pmpt">IOS CFGIF PMPT:</label> -->
                    <input id="ios_cfgif_pmpt" name="ios_cfgif_pmpt" type="text" placeholder="IOS CFGIF Prompt" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_brcm_pmpt">IOS BRCM PMPT:</label> -->
                    <input id="ios_brcm_pmpt" name="ios_brcm_pmpt" type="text" placeholder="IOS BRCM Prompt" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="ios_container" class="mycontainer">
            <p class="title">IOS</p>
            <div id="ios" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="ios_login">IOS Login:</label> -->
                    <input id="ios_login" name="ios_login" type="text" placeholder="IOS Login" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_passwd">IOS Password:</label> -->
                    <input id="ios_passwd" name="ios_passwd" type="text" placeholder="IOS Password" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_traffic">IOS Traffic:</label> -->
                    <input id="ios_traffic" name="ios_traffic" type="text" placeholder="IOS Traffic" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ios_sleep_interval">IOS Sleep Interval:</label> -->
                    <input id="ios_sleep_interval" name="ios_sleep_interval" type="text" placeholder="IOS Sleep Interval" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_cfg_file">IXIA CFG File:</label> -->
                    <input id="ixia_cfg_file" name="ixia_cfg_file" type="text" placeholder="IXIA CFG File" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_start_cfg_file">IXIA Start CFG File:</label> -->
                    <input id="ixia_start_cfg_file" name="ixia_start_cfg_file" type="text" placeholder="IXIA Start CFG File" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_stop_cfg_file">IXIA Stop CFG File:</label> -->
                    <input id="ixia_stop_cfg_file" name="ixia_stop_cfg_file" type="text" placeholder="IXIA Stop CFG File" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="ixia_dmp_cfg_file">IXIA Dump CFG File:</label> -->
                    <input id="ixia_dmp_cfg_file" name="ixia_dmp_cfg_file" type="text" placeholder="IXIA Dump CFG File" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="edvt_container" class="mycontainer">
            <p class="title">EDVT</p>
            <div id="edvt" class="subcontainer">
                <div id="edvtother">
                    <!-- <div class="row"> -->
                        <!-- <label for="run_type">Run Type:</label> -->
                        <!-- <input id="run_type" name="run_type" type="text" placeholder="Run Type"> -->
                        <div id="runtype_div">
                            <select name="run_type" id="run_type" required>
                                <option value="" disabled selected hidden>Run Type</option>
                                <option value="diag">Diag</option>
                                <option value="nxos">NXOS</option>
                            </select>
                        </div>
                    <div id="edvtchecks">
                        <div id="tempenabled_div">
                            <label for="temp_enabled">Temp Enabled? </label>
                            <input id="temp_enabled" name="temp_enabled" type="checkbox" value="yes">
                        </div>
                        <div id="powercycle_div">
                            <label for="powercycle">Powercycle? </label>
                            <input id="powercycle" name="powercycle" type="checkbox" value="yes">
                        </div>
                        <div id="marginpower_div">
                            <label for="marginpower">Margin Power? </label>
                            <input id="marginpower" name="marginpower" type="checkbox" value="yes">
                        </div>
                        <div id="bootuut_div">
                            <label for="bootuut">Boot UUT? </label>
                            <input id="bootuut" name="bootuut" type="checkbox" value="yes">
                        </div>
                    </div>
                </div>
                <!-- <div class="row"> -->
                    <!-- <label for="corner1">Corner 1:</label> -->
                    <input id="corner1" name="corner1" type="text" placeholder="Corner 1" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="corner2">Corner 2:</label> -->
                    <input id="corner2" name="corner2" type="text" placeholder="Corner 2" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="corner3">Corner 3:</label> -->
                    <input id="corner3" name="corner3" type="text" placeholder="Corner 3" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="corner4">Corner 4:</label> -->
                    <input id="corner4" name="corner4" type="text" placeholder="Corner 4" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="hitemp">Hi Temp:</label> -->
                    <input id="hitemp" name="hitemp" type="text" placeholder="Hi Temp" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="lotemp">Lo Temp:</label> -->
                    <input id="lotemp" name="lotemp" type="text" placeholder="Lo Temp" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="nomtemp">Nom Temp:</label> -->
                    <input id="nomtemp" name="nomtemp" type="text" placeholder="Nom Temp" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="loop_per_corner">Loop per Corner:</label> -->
                    <input id="loop_per_corner" name="loop_per_corner" type="text" placeholder="Loop/Corner" required> <!-- placeholder="Loop per Corner" -->
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="time_per_corner">Time per Corner:</label> -->
                    <input id="time_per_corner" name="time_per_corner" type="text" placeholder="Time/Corner" required> <!-- placeholder="Time per Corner" -->
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="stop_on_failure">Stop on Failure:</label> -->
                    <input id="stop_on_failure" name="stop_on_failure" type="text" placeholder="Stop on Failure" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr_off_wait_time">Power off wait time:</label> -->
                    <input id="pwr_off_wait_time" name="pwr_off_wait_time" type="text" placeholder="Power off wait time" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr_on_wait_time">Power on wait time:</label> -->
                    <input id="pwr_on_wait_time" name="pwr_on_wait_time" type="text" placeholder="Power on wait time" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr_off_soak_time">Power off soak time:</label> -->
                    <input id="pwr_off_soak_time" name="pwr_off_soak_time" type="text" placeholder="Power off soak time" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr_on_soak_time">Power on soak time:</label> -->
                    <input id="pwr_on_soak_time" name="pwr_on_soak_time" type="text" placeholder="Power on soak time" required>
                <!-- </div> -->
            </div>
        </div>
        <div id="powersupply_container" class="mycontainer">
            <p class="title">Power Supply</p>
            <div id="powersupply" class="subcontainer">
                <!-- <div class="row"> -->
                    <!-- <label for="pwr_num_marg">Power Number Margin:</label> -->
                    <input id="pwr_num_marg" name="pwr_num_marg" type="text" placeholder="Power Number Margin" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr0">Power 0:</label> -->
                    <input id="pwr0" name="pwr0" type="text" placeholder="Power 0" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr0_hi">Power 0 Hi:</label> -->
                    <input id="pwr0_hi" name="pwr0_hi" type="text" placeholder="Power 0 Hi" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr0_lo">Power 0 Lo:</label> -->
                    <input id="pwr0_lo" name="pwr0_lo" type="text" placeholder="Power 0 Lo" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr1">Power 1:</label> -->
                    <input id="pwr1" name="pwr1" type="text" placeholder="Power 1" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr1_hi">Power 1 Hi:</label> -->
                    <input id="pwr1_hi" name="pwr1_hi" type="text" placeholder="Power 1 Hi" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr1_lo">Power 1 Lo:</label> -->
                    <input id="pwr1_lo" name="pwr1_lo" type="text" placeholder="Power 1 Lo" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr2">Power 2:</label> -->
                    <input id="pwr2" name="pwr2" type="text" placeholder="Power 2" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr2_hi">Power 2 Hi:</label> -->
                    <input id="pwr2_hi" name="pwr2_hi" type="text" placeholder="Power 2 Hi" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr3_lo">Power 2 Lo:</label> -->
                    <input id="pwr2_lo" name="pwr2_lo" type="text" placeholder="Power 2 Lo" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr2_hi">Power 2 Hi:</label> -->
                    <input id="pwr3" name="pwr3" type="text" placeholder="Power 3" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr2_hi">Power 2 Hi:</label> -->
                    <input id="pwr3_hi" name="pwr3_hi" type="text" placeholder="Power 3 Hi" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr3_lo">Power 2 Lo:</label> -->
                    <input id="pwr3_lo" name="pwr3_lo" type="text" placeholder="Power 3 Lo" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr4">Power 4:</label> -->
                    <input id="pwr4" name="pwr4" type="text" placeholder="Power 4" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr4_hi">Power 4 Hi:</label> -->
                    <input id="pwr4_hi" name="pwr4_hi" type="text" placeholder="Power 4 Hi" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr4_lo">Power 4 Lo:</label> -->
                    <input id="pwr4_lo" name="pwr4_lo" type="text" placeholder="Power 4 Lo" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr5">Power 5:</label> -->
                    <input id="pwr5" name="pwr5" type="text" placeholder="Power 5" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr5_hi">Power 5 Hi:</label> -->
                    <input id="pwr5_hi" name="pwr5_hi" type="text" placeholder="Power 5 Hi" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr5_lo">Power 5 Lo:</label> -->
                    <input id="pwr5_lo" name="pwr5_lo" type="text" placeholder="Power 5 Lo" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr6">Power 6:</label> -->
                    <input id="pwr6" name="pwr6" type="text" placeholder="Power 6" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr6_hi">Power 6 Hi:</label> -->
                    <input id="pwr6_hi" name="pwr6_hi" type="text" placeholder="Power 6 Hi" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr6_lo">Power 6 Lo:</label> -->
                    <input id="pwr6_lo" name="pwr6_lo" type="text" placeholder="Power 6 Lo" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr7">Power 7:</label> -->
                    <input id="pwr7" name="pwr7" type="text" placeholder="Power 7" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr7_hi">Power 7 Hi:</label> -->
                    <input id="pwr7_hi" name="pwr7_hi" type="text" placeholder="Power 7 Hi" required>
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <label for="pwr7_lo">Power 7 Lo:</label> -->
                    <input id="pwr7_lo" name="pwr7_lo" type="text" placeholder="Power 7 Lo" required>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <input type="submit" value="Submit">
</form>



{% endblock %}