{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
<div>
    <form method="post" action="{% url 'new_entry' %}">
        {% csrf_token %}
            <div style="padding: 5%;">
                <table>
                    <thead>
                        <td></td>
                        <td></td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ form.title.label_tag }}</td>
                            <td>{{ form.title }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.content.label_tag }}</td>
                            <td>{{ form.content }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="submit" href="{% url 'index' %}">
    </form>
</div>
{% endblock %}