{% extends "auctions/layout.html" %}

{% block title %}
Sold {{ listing.item }} from {{ listing.seller.username }}
{% endblock %}


{% block body %}
    {% if you_won == True %}
        <h3>You have won the auction!</h3>
    {% endif %}
    {% if unwatch == True %}
        <a href="{% url 'wl' pk=listing.pk %}">Remove from Watchlist</a>
    {% endif %}
    
    {% if listing.category %}
    <p>{{ listing.category }}</p>
    {% endif %}
    <img src="{{ listing.image }}" width="400" height="500">
    <h3>{{ listing.item }}</h3>
    <p>selling by user: {{ listing.seller }}</p>
    <br>
    <p>{{ listing.description }}</p>
    <br>
    <div>
        <h5>${{ listing.current_price }}</h5>
    </div>
    <br>
    <ul>
        {% for comment in comments %} 
        <li>
            <p>{{ comment.comment }}</p>
            <p>from user: {{ comment.commenter }}</p>
        </li>
        {% empty %}
        <p>No comments</p>
        {% endfor %}
    </ul>

{% endblock %}