{% load static %}

<body>
    <textarea id="code" name="code" form="code_editor">{{ code }}</textarea>
    <form method="post" id="code_editor">
        {% csrf_token %}
        <input hidden type="submit" name="submitbutton" value="Submit" id="save_edit">
    </form>

    <div id="edit_button_div">
        <button id="edit_button">Edit?</button>
    </div>

    <div id="edit_buttons">
        <button id="save_button">Save</button>
        <button id="cancel_button">Cancel</button>
    </div>
</body>

<script src="{% static 'codebank/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codebank/codemirror/addon/fold/brace-fold.js' %}"></script>
<script src="{% static 'codebank/codemirror/addon/fold/foldcode.js' %}"></script>
<script src="{% static 'codebank/codemirror/addon/fold/foldgutter.js' %}"></script>
<script src="{% static 'codebank/codemirror/addon/fold/indent-fold.js' %}"></script>
<script src="{% static 'codebank/codemirror/mode/python/python.js' %}"></script>
<script src="{% static 'codebank/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'codebank/codemirror/addon/fold/foldgutter.css' %}">
<link rel="stylesheet" href="{% static 'codebank/codemirror/lib/codemirror.css' %}">
