{% extends "codebank/layout.html" %}

{% load static %}

{% block body %}
    <div>
        <form method="post">
            <input placeholder="File Name" type="text">
            <input type="submit">
        </form>
    </div>

    <div>
    {% for file in files %}
        <a href="{% url 'file_view' filename=file.filename %}">
            <div class="file_info">
                {{ file.filename }}
                {{ file.description }}
            </div>
        </a>
    {% endfor %}
    </div>

{% endblock %}