{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Codebank{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link href="{% static 'daskalos/styles.css' %}" rel="stylesheet"> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top justify-content-end">
            <span class="navbar-brand">CodeBank</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">

                {% if home == 'active' %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>

                {% if upload == 'active' %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link" href="{% url 'upload' %}">Upload</a>
                </li>

                {% if combine == 'active' %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link" href="#">Combine</a>
                </li>
              </ul>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>