{% extends "codebank/layout.html" %}

{% load static %}

{% block body %}

    <div id="upload">
        <form id="code_entry" method="post">
            {% csrf_token %}
            <label for="manual_entry">Code:</label>
            <textarea required autofocus form="code_entry" id="manual_entry" name="manual_entry" cols="60" rows="5"></textarea>
            <label for="codename">Name of the Code: </label>
            <input type="text" id="upload_code_name" name="upload_code_name">
            <label for="description">Describe the code: </label>
            <textarea form="code_entry" id="description" name="description" placeholder="Description" cols="40" rows="5" style="resize: none;"></textarea>
            <select id="lang" name="lang">
                <option value="python">Python</option>
            </select>
            <label for="inputs">How many inputs?:</label>
            <input type="text" id="inputs" name="inputs">
            <label for="inputs">Output type?:</label>
            <select name="outputs" id="outputs">
                <option value="dict">Dictionary</option>
                <option value="list">Array</option>
                <option value="bool">Boolean</option>
                <option value="int">Integer</option>
                <option value="float">Float</option>
                <option value="str">String</option>
            </select>
            <input id="submit_button" type="submit" placeholder="Upload!">
        </form>
    </div>


    <script src="{% static 'codebank/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codebank/codemirror/addon/fold/brace-fold.js' %}"></script>
    <script src="{% static 'codebank/codemirror/addon/fold/foldcode.js' %}"></script>
    <script src="{% static 'codebank/codemirror/addon/fold/foldgutter.js' %}"></script>
    <script src="{% static 'codebank/codemirror/addon/fold/indent-fold.js' %}"></script>
    <script src="{% static 'codebank/codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'codebank/upload.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codebank/codemirror/addon/fold/foldgutter.css' %}">
    <link rel="stylesheet" href="{% static 'codebank/codemirror/lib/codemirror.css' %}">

{% endblock %}