/* -- TAGS -- */

textarea {
    /* border: none; */
    outline: none;
    resize: none;
}

/* -- CLASSES -- */

.heart_button, .edit_post, .author {
    cursor: default;
}

.datetime {
    /* background-color: yellow;
    border: 3px solid red; */
    bottom: 1px;
    height: 20px;
    position: absolute;
    right: 20px;
    text-align: right;
    width: 190px;
}

.edit_button {

}

.edit_post {
    padding-right: 30px;
    text-align: right;
}

.edit_post_div {
    /* background-color: yellow;
    border: 3px solid red; */
    height: 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.heart_button {
    /* background-color: yellow;
    border: 3px solid red; */
    bottom: 0;
    height: 5px;
    position: absolute;
    text-align: center;
    left: 24px;
}

.likes {
    /* background-color: yellow;
    border: 3px solid red; */
    bottom: 0;
    height: 5px;
    position: absolute;
    text-align: center;
    left: 60px;
}

.post_div {
    border: solid;
    border-radius: 25px;
    border-width: 1px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 100px;
    position: relative;
}

.speechentry {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.subject {
    font-weight: bold;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 4px;
    text-align: justify;
}

.subject_div {
    top: 10px;
    position: absolute;
}

.written_div {
    bottom: 20px;
    position: absolute;
    right: 10px ;
    width: 120px;
}

/* .edit_post_div ~ .written_div {
    background-color: blue;
} */

/* -- IDS -- */

#index_speech, #profile_speech {
    text-align: left;
}

#followinfo {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#followers {
    align-items: center;
    margin-left: 20px;
}

#following {
    align-items: flex-start;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 45px;
}

#to_follow {
    align-items: flex-end;
    cursor: default;
    margin-left: 20px;
}




